{% extends 'base.html' %}
{% block header %}
{% include 'specialist/header.html' %}
{% endblock %}
{% block content %}
<div class="container my-3 p-4 p-md-5 content-wrapper shadow-sm rounded bg-light syllabus-detail-card">

    <div class="text-center mb-5 syllabus-header">
        <h2 class="mt-4">{{syllabus.name}}</h2>
    </div>
    {% for part in syllabus.main_sections %}
    {% include 'partials/_' + part.code + '.html' %}
    {% endfor %}
    <div class="text-center mt-5 no-print">
        <a href="/specialist" class="btn btn-default">
            <i class="fas fa-arrow-left mr-1"></i> Quay lại danh sách
        </a>
        <a href="/specialist" class="btn btn-primary">Lưu đề cương mẫu
        </a>
    </div>
</div>
{% endblock %}