{% extends 'base.html' %}

{% block content %}

<div class="d-flex">
    <!-- side bar -->
    <div class="custom-sidebar p-4" style="width: 25%;">
        <h2 class="h5 text-custom-headline mb-4">Cấu trúc đề cương</h2>
        <div>

        </div>
    </div>

    <!-- main editor -->
    <div class="editor-content editor-content-with-footer flex-grow-1 p-4">
        <div class="container-fluid">
            <div class="editor-main p-4">
                <div>

                </div>
                <button class="btn btn-outline-custom w-100 py-3 mt-4" style="border-style: dashed;">
                    <i class="fas fa-plus me-2"></i>
                    Thêm phần
                </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
