{% extends 'base.html' %}

{% block content%}
<!-- tool bar -->
<div class="custom-toolbar d-flex align-items-center justify-content-between px-4 py-3">
    <div class="d-flex align-items-center flex-grow-1">
        <div class="position-relative me-3" style="max-width: 400px; flex-grow: 1">
            <i class="fas fa-search position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"></i>
            <input type="text" id="searchInput" class="form-control ps-5" placeholder="Tìm kiếm đề cương...">
        </div>
        <div class="dropdown">
            <button class="btn bg-light dropdown-toggle" type="button"
                    data-bs-toggle="dropdown">
                <i class="fas fa-filter me-2"></i>
                Lọc theo Khoa
            </button>
            <ul class="dropdown-menu">
                {% for fac in faculty %}
                {% if fac %}
                <li>
                    <a class="dropdown-item" href="#">
                        {{ fac.name }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="{{ url_for('editor') }}" target="_blank" class="btn btn-custom-primary syllabus-detail-card">
        <i class="fas fa-plus me-2"></i>
        Tạo Đề cương mới
    </a>
</div>
<!-- table data -->
<div class="container-background">
    <div class="container-fluid px-4 py-3 ">
        <div class="card card-custom shadow-sm">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-custom table-hover mb-0">
                        <thead>
                        <tr>
                            <th>Tên Đề cương</th>
                            <th>Người phụ trách</th>
                            <th>Tên môn học</th>
                            <th>Ngày cập nhật</th>
                            <th class="text-center">Chức năng</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for syllabus in syllabuses %}
                        <tr>
                            <td>{{ syllabus.name }}</td>
                            <td>{{ syllabus.lecturer.name }}</td>
                            <td>{{ syllabus.subject.name }}</td>
                            <td>???????????</td>
                            <td class="text-center">
                                <a href="{{ url_for('syllabus_detail', syllabus_id=syllabus.id) }}"
                                   class="btn btn-custom-primary btn-sm">
                                    Xem chi tiết 🔎
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}
