{% extends 'base.html' %}

{% block content%}
<div class="container my-5 p-4 p-md-5 content-wrapper shadow-sm rounded bg-light syllabus-detail-card">

    <div class="text-center mb-5 syllabus-header">
        <h6>BỘ GIÁO DỤC VÀ ĐÀO TẠO</h6>
        <h6>TRƯỜNG ĐẠI HỌC MỞ THÀNH PHỐ HỒ CHÍ MINH</h6>
        <h2 class="mt-4">ĐỀ CƯƠNG MÔN HỌC</h2>
        <h5 class="text-uppercase">Course Specification</h5>
    </div>

    {% for part in syllabus.main_sections %}

        {# Include động file linh kiện dựa trên 'part.code' #}
        {% include 'partials/_' + part.code + '.html' %}

    {% endfor %}
    <div class="text-center mt-5">
        <a href="{{ url_for('index') }}" class="btn btn-custom px-4 py-2">&laquo; Quay lại danh sách</a>
    </div>
</div>
{% endblock%}