<div class="mb-5">
    {% from 'partials/_macros.html' import editable_section_header %}
    {% from 'partials/_macros.html' import editable_field %}
    {{ editable_section_header(part, syllabus) }}

    <table class="table align-middle info-table-fresh">
        <tbody>
        {# 1. Tên môn học tiếng Việt #}
        <tr>
            <th scope="row">1. Tên môn học tiếng Việt/Course title in Vietnamese</th>
            <td>
                {{editable_field(syllabus.subject, 'name','Subject', syllabus, input_type='input')}}
            </td>
        </tr>

        {# Mã môn học #}
        <tr>
            <th scope="row">Mã môn học/Course code</th>
            <td>
                {{editable_field(syllabus.subject, 'id','Subject', syllabus, input_type='input')}}
            </td>
        </tr>

        {# Các tiểu mục còn lại #}
        {% for sub_item in part.sub_sections %}
        {% with item_index = loop.index + 1 %}
        {% include 'partials/subsections/_' + sub_item.type + '.html' %}
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>
</div>