<div class="mb-5 main-section"
     data-position="{{ part.position }}"
     data-name="{{ part.name }}"
     data-code="{{ part.code }}">
    <h3 class="section-title-fresh mb-3">
        {% if is_editing %}
        <div class="d-flex align-items-center mb-2">
            <label class="fw-bold text-dark me-2 mb-0 text-nowrap">
                {{ part.position }}.
            </label>

            <input
                    type="text"
                    class="form-control part-input"
                    value="{{ part.name }}"
                    placeholder="Nhập tên phần....."
            >
        </div>
        {% else %}
        <i class="fas fa-info-circle me-2"></i>{{part.position}}. {{ part.name }}
        {% endif %}
    </h3>
    <table class="table align-middle info-table-fresh">
        <tbody>
        {# Loop index bắt đầu từ 2 vì mục 1 đã dùng ở trên #}
        {% for sub_item in part.sub_sections %}
        {% include 'partials/subsections/_' + sub_item.template_name + '.html' %}
        {% endfor %}
        </tbody>
    </table>
</div>