{% from 'partials/_macros.html' import editable_field %}
<tr>
    <th scope="row" style="width: 300px;" class="fs-6">{{ item_index }}. {{ sub_item.name }}</th>
    <td>
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th scope="col" style="width: 20%;" class="text-center align-middle">Mục tiêu môn học/Course
                    Objectives
                </th>
                <th scope="col" style="width: 20%;" class="text-center align-middle">CĐR môn học - CLO</th>
                <th scope="col" style="width: 60%;" class="text-center align-middle">Mô tả CĐR - description</th>
            </tr>
            </thead>
            <tbody>
            {% set ns = namespace(cnt=1) %}
            {% for co in syllabus.subject.course_objectives %}
            {% if co.course_learning_outcomes %}
            {% for clo in co.course_learning_outcomes %}
            <tr>
                {% if loop.first %}
                <td class="text-center align-middle" rowspan="{{ co.course_learning_outcomes|length + 1 }}">{{ co.name
                    }}
                </td>
                {% endif %}
                <td class="text-center align-middle">{{ ns.cnt }}</td>
                <td class="align-middle">
                    {{ editable_field(clo, 'content', 'CourseLearningOutcome', syllabus, input_type='textarea') }}
                </td>
                <td class="text-center align-middle">
                    <form action="{{ url_for('delete_course_learning_outcome', clo_id=clo.id) }}" method="post">
                        <input type="hidden" name="syllabus_id" value="{{ syllabus.id }}">
                        <input type="hidden" name="co_id" value="{{ co.id }}">
                        <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Bạn có chắc chắn muốn xóa CLO này? Mọi liên kết rating cũng sẽ bị xóa vĩnh viễn.');">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% set ns.cnt = ns.cnt + 1 %}
            {% endfor %}
            {% else %}
            <tr>
                <td class="text-center align-middle" rowspan="2">{{ co.name }}</td>
                <td colspan="2" class="align-middle text-muted fst-italic">Chưa có chuẩn đầu ra cho mục tiêu này.</td>
            </tr>
            {% endif %}

            <tr>
                <td colspan="2">
                    <div class="add-form-container text-center d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-primary btn-sm flex-shrink-0 add-btn">
                            <i class="fas fa-plus"></i>
                        </button>

                        <div class="card mt-2 add-form text-start" style="display: none;">
                            <div class="card-body">
                                <form action="{{url_for('add_clo',co_id = co.id)}}" method="post">
                                    <input type="hidden" name="syllabus_id" value="{{ syllabus.id }}">
                                    <div class="mb-2">
                                        <label class="form-label">Nội dung CLO mới:</label>
                                        <textarea name="clo_content" class="form-control" rows="3" required></textarea>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-secondary btn-sm cancel-btn">Hủy
                                        </button>
                                        <button type="submit" class="btn btn-success btn-sm">Lưu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <h6 class="mt-4 text-center">Ma trận tích hợp giữa chuẩn đầu ra của môn học và chuẩn đầu ra của chương trình đào
            tạo</h6>
        {% set unique_plos = [] %}
        {% for co in syllabus.subject.course_objectives %}
        {% for plo in co.programme_learning_outcomes %}
        {% if plo not in unique_plos %}
        {% do unique_plos.append(plo) %}
        {% endif %}
        {% endfor %}
        {% endfor %}
        <table border="1" class="table table-bordered text-center align-middle">
            <thead>
            <tr>
                <td>CLOs</td>
                {% for plo in unique_plos %}
                <td>{{plo.id}}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <div>
                {% set ns = namespace(cnt=1) %}
                {% for co in syllabus.subject.course_objectives %}
                {% for clo in co.course_learning_outcomes %}
                <tr>
                    <td>{{ ns.cnt }}</td>
                    {% set ns.cnt = ns.cnt + 1 %}

                    {# Lặp qua từng cột PLO để điền rating #}
                    {% for plo in unique_plos %}
                    <td>
                        {# tìm rating tương ứng#}
                        {% set assoc = clo.plo_association | selectattr('plo_id', 'equalto', plo.id)|first%}
                        <div id="editable-container-rating-{{clo.id}}-{{plo.id}}" class="editable-container">
                            <div class="display-view">
                                <div class="d-flex justify-content-center align-items-center">
                                    {% if assoc %}
                                    <span>{{ assoc.rating }}</span>
                                    <button type="button"
                                            class="btn btn-outline-primary btn-sm ms-2 flex-shrink-0 edit-trigger-button"
                                            onclick="toggleFieldEdit('rating-{{ clo.id }}-{{ plo.id }}', true)">
                                        <i class="fas fa-pencil-alt"></i>Chỉnh sửa
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="edit-view" style="display: none;">
                                <form action="{{ url_for('update_rating') }}" method="post">
                                    <input type="hidden" name="syllabus_id" value="{{syllabus.id}}">
                                    <input type="hidden" name="clo_id" value="{{clo.id}}">
                                    <input type="hidden" name="plo_id" value="{{plo.id}}">
                                    {% if assoc %}
                                    <div class="input-group rating-input-group">
                                        <input type="number" class="form-control w-auto" name="rating"
                                               min='0' max='5' step='1' value="{{ assoc.rating }}">
                                        <button type="submit" class="btn btn-success">Lưu
                                        </button>
                                        <button type="button" class="btn btn-secondary"
                                                onclick="toggleFieldEdit('rating-{{ clo.id }}-{{ plo.id }}', false)">
                                            Hủy
                                        </button>
                                    </div>
                                    {% endif%}
                                </form>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                {% endfor %}
            </div>
            </tbody>
        </table>
        <div class="rating-legend border rounded p-3 bg-light small mx-auto" style="width: 400px;">
            <div class="d-flex justify-content-between align-items-center">

                <div class="text-start">
                    <p class="mb-1">1: Không đáp ứng</p>
                    <p class="mb-1">2: Ít đáp ứng</p>
                    <p class="mb-0">3: Đáp ứng trung bình</p>
                </div>

                <div class="text-start">
                    <p class="mb-1">4: Đáp ứng nhiều</p>
                    <p class="mb-0">5: Đáp ứng rất nhiều</p>
                </div>

            </div>
        </div>
    </td>
</tr>