{% extends 'partials/subsections/references/col_span_th_header.html' %}
{%block content%}
<div>
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th class="text-center align-middle" scope="col" style="width: 10%;">STT</th>
                <th class="text-center align-middle" scope="col" style="width: 60%;">Tên tài liệu</th>
                <th class="text-center align-middle" scope="col" style="width: 30%;">Loại tài liệu</th>
                <th class="text-center align-middle" scope="col" style="width: 30%;">Xóa</th>
            </tr>
            </thead>
            <tbody>
            {% for material in syllabus.learning_materials %}
            <tr>
                <td class="text-center align-middle">{{ loop.index }}</td>
                <td>
                    <input
                            type="text"
                            class="form-control bg-white mb-3"
                            id="name-learning-material{{material.id}}"
                            value="{{material.name}}"
                            placeholder="Nhập tên tài liệu tham khảo...."
                            onblur="updateLearningMaterial({{material.id}})"
                    >
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <p class="mb-0 me-auto">{{ material.type_material.name }}</p>
                    </div>
                </td>
                <td class="text-center align-middle">
                    <button type="submit" class="btn btn-sm btn-outline-danger border-0 ms-1"
                        onclick="removeLearningMaterial({{syllabus.id}}, {{material.id}})">
                    <i class="fas fa-trash-alt"></i>
                </button>
                </td>
            </tr>
            {% endfor %}
            {% if not syllabus.learning_materials %}
            <tr>
                <td colspan="3" class="text-center">Chưa có tài liệu tham khảo.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="card bg-light border-0 shadow-sm">
            <div class="card-body p-1">
                <h6 class="fw-bold text-dark mb-3">Thêm tài liệu</h6>
                <div class="d-flex gap-2">
                    <input
                            type="text"
                            class="form-control bg-white mb-3"
                            placeholder="Nhập tên tài liệu tham khảo...."
                            id="learning-material-name"
                    >
                    <select id="new-type-learning-material" class="form-select" style="width: 45%;">
                        {% for t in all_type_learning_materials%}
                        <option value="{{t.id}}">{{t.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-end border-top pt-3 p-1">
                <button type="button" class="btn btn-light me-2 text-secondary" onclick="clearInputLearningMaterial()">Hủy bỏ</button>
                <button type="button" class="btn btn-primary px-4" onclick="addLearningMaterial({{syllabus.id}})">Thêm tài liệu
                </button>
            </div>
        </div>
    </div>
{% endblock%}
