{% from 'partials/_macros.html' import editable_field %}
<tr>
    <th scope="row" style="width: 300px;" class="fs-6">{{ item_index }}. {{ sub_item.name }}</th>
    <td>
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th class="text-center align-middle" scope="col" style="width: 10%;">STT</th>
                <th class="text-center align-middle" scope="col" style="width: 60%;">Tên tài liệu</th>
                <th class="text-center align-middle" scope="col" style="width: 30%;">Loại tài liệu</th>
            </tr>
            </thead>
            <tbody>
            {% for material in syllabus.learning_materials %}
            <tr>
                <td class="text-center align-middle">{{ loop.index }}</td>
                <td>
                    {{editable_field(material, 'name', 'LearningMaterial', syllabus, input_type='input')}}
                </td>
                <td>
                    <div id="editable-container-LearningMaterial-{{ material.id }}-type" class="editable-container">
                        <div class="display-view mt-5">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 me-auto">{{ material.type_material.name }}</p>
                                <button type="button"
                                        class="btn btn-outline-primary btn-sm ms-3 flex-shrink-0 edit-trigger-button"
                                        onclick="toggleFieldEdit('LearningMaterial-{{ material.id }}-type', true)">
                                    <i class="fas fa-pencil-alt"></i> Chỉnh sửa
                                </button>
                            </div>
                        </div>
                        <div class="edit-view" style="display: none;">
                            <form method="post"
                                  action="{{url_for('update_learning_material_type', material_id=material.id)}}" class="ajax-form">
                                <input type="hidden" name="syllabus_id" value="{{ syllabus.id }}">
                                <div class="input-group">
                                    <select class="form-select" name="type_material_id">
                                        {# Lặp qua tất cả các loại tài liệu có sẵn #}
                                        {% for type_option in learning_materials %}
                                        <option value="{{ type_option.id }}" {% if material.type_material_id==
                                                type_option.id %}selected{% endif %}>
                                            {{ type_option.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-success btn-sm">Lưu</button>
                                    <button type="button" class="btn btn-secondary btn-sm"
                                            onclick="toggleFieldEdit('LearningMaterial-{{ material.id }}-type', false)">
                                        Hủy
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="text-center align-middle">
                    <form action="{{ url_for('delete_learning_material', material_id=material.id) }}" method="post" class="ajax-form">
                        <input type="hidden" name="syllabus_id" value="{{ syllabus.id }}">
                        <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Bạn có chắc chắn muốn xóa tài liệu này khỏi đề cương?');">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% if not syllabus.learning_materials %}
            <tr>
                <td colspan="3" class="text-center">Chưa có tài liệu tham khảo.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center add-form-container">
            <button type="button"
                    class="btn btn-outline-primary btn-sm ms-2 flex-shrink-0 add-btn">
                <i class="fa-solid fa-plus"></i>
            </button>
            <div style="display: none;" class="card mt-2 text-start add-form">
                <div class="card-body">
                    <form method="post" action="{{ url_for('add_learning_material', syllabus_id=syllabus.id)}}" class="ajax-form">
                        <div>
                            <div class="mb-3">
                                <label class="form-label fw-bold">Tên tài liệu</label>
                                <input class="form-control" name="name_material" required
                                       placeholder="Vui lòng nhập tên tài liệu">
                            </div>
                        </div>
                        <div class="input-group">
                            <select class="form-select" name="type_material_id">
                                {% for type_option in learning_materials %}
                                <option value="{{ type_option.id }}">
                                    {{ type_option.name }}
                                </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-success btn-sm">Lưu</button>
                            <button type="button" class="btn btn-secondary btn-sm cancel-btn">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </td>
</tr>