{% from 'partials/_macros.html' import editable_field %}

<tr>
    <th scope="row" style="width: 300px;" class="fs-6">{{ item_index }}. {{ sub_item.name }}</th>
    <td>
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th scope="col" style="width: 30%;" class="text-center align-middle">Mục tiêu môn học/Course
                    Objectives
                </th>
                <th scope="col" style="width: 50%;" class="text-center align-middle">Mô tả - Description</th>
                <th scope="col" style="width: 20%;" class="text-center align-middle">CĐR CTĐT phân bổ cho môn học -
                    PLOs
                </th>
            </tr>
            </thead>
            <tbody>
            {% for co in syllabus.subject.course_objectives %}
            <tr>
                <td class="align-middle">
                    <div class="co-name-container ms-4">
                        <span class="me-2">{{ co.name }}</span>
                    </div>
                </td>

                <td class=" align-middle col-sm-6">
                    {{co.content}}
                </td>
                <td class="text-center align-middle col-sm-4">
                    <div id="selection-container-co-{{ co.id }}">
                        <div class="display-view editable-container">
                            <div class="d-flex flex-column align-items-center gap-1">
                                {% for plo in co.programme_learning_outcomes %}
                                <span class="badge bg-success fs-6">PLO.{{ plo.id }}</span>
                                {% else %}
                                <span class="text-muted">Chưa có</span>
                                {% endfor %}
                            </div>
                            <button type="button"
                                    class="btn btn-outline-primary btn-sm  ms-3 flex-shrink-0  edit-trigger-button"
                                    onclick="toggleSelectionEdit('co-{{ co.id }}',true)">
                                <i class="fas fa-pencil-alt"></i> Chỉnh sửa
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center add-form-container">
            <button type="button"
                    class="btn btn-outline-primary btn-sm ms-2 flex-shrink-0 add-btn">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </td>
</tr>