<tr>
    <th scope="row" style="width: 300px;" class="fs-6">{{ item_index }}. {{ sub_item.name }}</th>
    <td>

        {% set subjects = syllabus.subject.required_by_relation %}
        <table class="table table-bordered">
            <thead class="table-light">
            <tr class="text-center">
                <th scope="col" style="width: 10%;">STT/No.</th>
                <th scope="col" style="width: 50%;">Môn học điều kiện/Requirements</th>
                <th scope="col" style="width: 40%;">Mã môn học/Code</th>
            </tr>
            </thead>
            <tbody>
            {% for sub in subjects %}
            <tr>
                <td class="text-center">{{ loop.index }}</td>
                <td class="editable-container" id="editable-container-subject-{{sub.id}}">
                    <div class="display-view">
                        {{ sub.require_subject.name }}/{{ sub.type_requirement.name }}
                        <button type="button"
                                class="btn btn-outline-primary btn-sm ms-2 flex-shrink-0 edit-trigger-button"
                                onclick="toggleFieldEdit('subject-{{sub.id}}', true)">
                            <i class="fas fa-pencil-alt"></i>Chỉnh sửa
                        </button>
                    </div>
                </td>
                <td>{{ sub.require_subject.id }}</td>
            </tr>
            {% endfor %}
            {% if subjects is none %}
            <tr>
                <td colspan="4" class="text-center">Không có môn học điều kiện.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center add-form-container">
            <button type="button"
                    class="btn btn-outline-primary btn-sm ms-2 flex-shrink-0 add-btn">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </td>
</tr>