<tr>
    <th scope="row" style="width: 300px;" class="fs-6">{{ item_index }}. {{ sub_item.name }}</th>
    <td>
        {% set subjects = syllabus.subject.required_by_relation %}
        <table class="table table-bordered">
            <thead class="table-light">
            <tr class="text-center">
                <th scope="col" style="width: 10%;">STT/No.</th>
                <th scope="col" style="width: 50%;">Môn học điều kiện/Requirements</th>
                <th scope="col" style="width: 40%;">Mã môn học/Code</th>
            </tr>
            </thead>
            <tbody>
            {% for sub in subjects %}
            <tr>
                <td class="text-center">{{ loop.index }}</td>
                <td class="editable-container" id="editable-container-subject-{{sub.id}}">
                    <div class="display-view">
                        {{ sub.require_subject.name }}/{{ sub.type_requirement.name }}
                        <button type="button"
                                class="btn btn-outline-primary btn-sm ms-2 flex-shrink-0 edit-trigger-button"
                                onclick="toggleFieldEdit('subject-{{sub.id}}', true)">
                            <i class="fas fa-pencil-alt"></i>Chỉnh sửa
                        </button>
                    </div>
                    <div class="edit-view" style="display: none;">
                        <form action="{{ url_for('update_requirement_subject', subject_id=sub.id) }}" method="post">
                            <input type="hidden" name="syllabus_id" value="{{syllabus.id}}">
                            <div class="d-flex flex-column gap-2">
                                <select class="form-select form-select-sm" name="requirement_subject_id">
                                    {% for s in all_subjects %}
                                    <option value="{{ s.id }}" {% if s.id== sub.require_subject.id
                                            %}selected{% endif
                                            %}>{{ s.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <select class="form-select form-select-sm" name="type_subject_id">
                                    {% for t in all_type_subjects %}
                                    <option value="{{ t.id }}" {% if t.id==
                                            sub.type_requirement.id
                                            %}selected{% endif
                                            %}>{{ t.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <div class="input-group input-group-sm">
                                    <button type="submit" class="btn btn-success">Lưu
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            onclick="toggleFieldEdit('subject-{{sub.id}}', false)">
                                        Hủy
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form action=" {{url_for('delete_requirement_subject', subject_id=sub.id)}}" method="post"
                              class="d-inline mt-2 text-end">
                            <input type="hidden" name="syllabus_id" value="{{syllabus.id}}">
                            <button type="submit" class="btn btn-danger btn-sm p-1 mt-2"
                                    onclick="return confirm('Bạn có chắc chắn muốn xóa môn học điều kiện này không?');">
                                <i class="fa-solid fa-trash"></i> Xóa
                            </button>
                        </form>
                    </div>
                </td>
                <td>{{ sub.require_subject.id }}</td>
            </tr>

            {% endfor %}

            {% if subjects is none %}
            <tr>
                <td colspan="4" class="text-center">Không có môn học điều kiện.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center add-form-container">
            <button type="button"
                    class="btn btn-outline-primary btn-sm ms-2 flex-shrink-0 add-btn" >
                <i class="fa-solid fa-plus"></i>
            </button>
            <div style="display: none;" class="card mt-2 text-start add-form">
                <div class="card-body">
                    <form method="post"
                          action="{{ url_for('add_requirement_subject', subject_id=syllabus.subject.id) }}">
                        <input type="hidden" name="syllabus_id" value="{{syllabus.id}}">
                        <div class="d-flex flex-column gap-2">
                            <select class="form-select form-select-sm" name="require_subject_id">
                                {% set existing_req_ids = subjects | map(attribute='require_subject_id') | list %}
                                <option selected disabled>-- Chọn môn học --</option>
                                {% for s in all_subjects %}
                                {% if s.id != syllabus.subject.id and s.id not in existing_req_ids %}
                                <option value="{{ s.id }}">{{ s.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <select class="form-select form-select-sm" name="type_subject_id">
                                <option selected disabled>-- Chọn loại điều kiện --</option>
                                {% for t in all_type_subjects %}
                                <option value="{{ t.id }}">{{ t.name }}
                                </option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-secondary btn-sm cancel-btn">
                                Hủy
                            </button>
                            <button type="submit" class="btn btn-success btn-sm">
                                Lưu
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </td>
</tr>