<tr>
    {# Sửa lại: Dùng 'item_index' thay vì 'loop.index' #}
    <th scope="row" style="width: 300px;" class="fs-6">{{ item_index }}. {{ sub_item.name }}</th>
    <td>
        <div class="editable-container">
            <div class="mt-5">
                <div class="d-flex flex-wrap gap-2 mb-2 align">
                    {% for value in sub_item.selected_values %}
                    <span class="badge bg-success d-flex align-items-center fs-6">{{value.name_value}}</span>
                    {% else %}
                    <span class="text-muted">Chưa có lựa chọn</span>
                    {% endfor %}
                    <button type="button" class="btn btn-outline-primary btn-sm edit-trigger-button"
                            onclick="toggleSelectionEdit({{ sub_item.id }},true)">
                        <i class="fas fa-pencil-alt"></i> Chỉnh sửa
                    </button>
                </div>
            </div>
        </div>
    </td>
</tr>